!urxvt*depth: 32
urxvt*background: #282828
URxvt*font: xft:TamzenForPowerline:style=Regular:pixelsize=16
URxvt*dynamicColors:true
URxvt*selectToClipboard: true
URxvt*scrollBar: false
URxvt*scrollstyle: rxvt

! special
URxvt*.foreground:   #ebdbb2
!URxvt*.background: #1b181b
!urxvt*transparent:true
URxvt*.cursorColor:  #ab9bab

